* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(35deg, red, purple);
    /* height: 100vh; */
}

.title-page {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.header__cart {
    display: flex;
    justify-content: end;
}

.header__cart-title {
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.header__cart-icon {
    font-size: 30px;
    color: white;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.header__cart-notice {
    position: absolute;
    top: -11px;
    right: 4px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: rgb(251, 255, 0);
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}